<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>SIGN-UP</h1>
    <form method="post" action="/sign-up">
        <label>name</label>
        <input type="text" name="name" >
        <label>email</label>
        <input type="text" name="email">
        <label>Password</label>
        <input type="password" name="Password" >
        <button type="submit" >Sign-up</button>
    </form>
    
</body>
</html>